#wrapper {
  border: 1px solid black;
  margin: 0 auto;
}

div {
  contentEditable: true;  
}

.filled {
  width: 28px;
  height: 28px;
  background: black;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
}

.empty {
  width: 28px;
  height: 28px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
}

.numbered {
  counter-increment: value;
}

.numbered:nth-of-type(n)::before {
  content: counter(value);
  font-size: 10px;
  position: absolute;
}

.letter {
  text-align: center;
  font-size: 26px;
  font-family: 'Helvetica Neue';
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

#wrap { width:100%; margin:1em auto; padding:5px; overflow:hidden; background:#fff; min-width:30em; }
.col { float:left; width:20%; padding:5px; background:#ddd; font-size: 12px;}
.colright { float:right; ; width:20%; padding:5px; background:#ddd; font-size: 12px;}
.colgut { display:inline-block; width:50%; padding:5px; margin:0 2%; }