<!-- form submission -->
<form action="{{ url_for('command', room_name=room_name, date=date) }}" id="command" method="post">
  <div class="form-group">
    <b><label>Clue:</label></b>
    <input class="form-control" name="clue" id="clueText" placeholder="4 a"/>
  </div>

  <div class="form-group">
    <b><label>Letter position (optional):</label></b>
    <input class="form-control" name="position" placeholder="3"/>
  </div>

  <div class="form-group">
    <b><label>Solution:</label></b>
    <input class="form-control" name="solution" id="solutionText" placeholder="aria"/>
  </div>

  <div class="form-group">
    <button type="submit" name="command_type" value="Fill">Fill</button>
    <button type="submit" name="command_type" value="Delete">Delete</button><br>

    <button type="submit" name="command_type" value="Check">Show Incorrect</button>
    <button type="submit" name="command_type" value="Uncheck">Hide Incorrect</button><br>
    
    <button type="submit" name="command_type" value="New Puzzle">New Puzzle</button>
    <button type="submit" name="command_type" value="Switch Room">Switch Room</button><br>
  </div>
</form>