<div id="wrapper">
{% for row in state.grid %}
  {% for cell in row %}
    {% if cell.variety == "." %}
      <div class="filled"></div>
    {% elif cell.number %}
      {% if cell.variety == "/" %}
        {% if cell.circled %}
          <div class="empty incorrect">
            <div class = "circle"></div>
            <div class = "numbered"></div>
            {% if cell.content %}
              <div class="letter">{{ cell.content }}</div>
            {% endif %}
          </div>
        {% else %}
          <div class="empty numbered incorrect">
            {% if cell.content %}
              <div class="letter">{{ cell.content }}</div>
            {% endif %}
          </div>
        {% endif %}
      {% else %}
        {% if cell.circled %}
          <div class="empty">
            <div class = "circle"></div>
            <div class = "numbered"></div>
            {% if cell.content %}
              <div class="letter">{{ cell.content }}</div>
            {% endif %}
          </div>
          {% else %}
            <div class="empty numbered">
              {% if cell.content %}
                <div class="letter">{{ cell.content }}</div>
              {% endif %}
            </div>
          {% endif %}
      {% endif %}
    {% else %}
      {% if cell.variety == "/" %}
        {% if cell.circled %}
          <div class="empty incorrect">
            <div class = "circle"></div>
            {% if cell.content %}
              <div class="letter">{{ cell.content }}</div>
            {% endif %}
          </div>
        {% else %}
          <div class="empty incorrect">
            {% if cell.content %}
              <div class="letter">{{ cell.content }}</div>
            {% endif %}
          </div>
        {% endif %}
      {% else %}
        {% if cell.circled %}
          <div class="empty">
            <div class = "circle"></div>
            {% if cell.content %}
              <div class="letter">{{ cell.content }}</div>
            {% endif %}
          </div>
        {% else %}
          <div class="empty">
            {% if cell.content %}
              <div class="letter">{{ cell.content }}</div>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
</div>