<div id="wrapper">
{% for row in state.grid %}
  {% for cell in row %}
    {% if cell.color == "." %}
      <div class="filled"></div>
    {% else %}
      {% if cell.number %}
        <div class="empty numbered">
      {% else %}
        <div class="empty">
      {% endif %}

      {% if state.show_incorrect_cells and not cell.is_correct() %}
        <div class="incorrect">
      {% endif %}

      {% if cell.circled %}
        <div class = "circle">
      {% endif %}

      {% if cell.content %}
        <div class="letter">{{ cell.content }}</div>
      {% endif %}

      {% if cell.circled %}
        </div>
      {% endif %}

      {% if state.show_incorrect_cells and not cell.is_correct() %}
        </div>
      {% endif %}
      
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
</div>