{% extends "layout.html" %}

{% block main %}
  <center>
    <h1>Crossword Puzzle</h1>
    <div class="selected_clue" id="selected_clue"></div>
  </center>
  <div id="wrap">
    <!-- across questions -->
    {% include 'index_across_questions.html' %}

    <div class="colgut">
      <!-- the crossword image -->
      {% include 'index_crossword_grid.html' %}

      <!-- submission form and buttons -->
      {% include 'index_form.html' %}
    </div>

    <!-- down questions -->
    {% include 'index_down_questions.html' %}
  </div>
  <script>
    {% include 'script.js' %}
  </script>
{% endblock %}