{% extends "layout.html" %}

{% block main %}
  <center><h1>Crossword Puzzle</h1></center>
  <div id="wrap">
    <div id="across" class="col">
      <!-- clues -->
      <h2>Across</h2>
      {% for clue in cluesAcross %}
          {% if not clue.finished %}
            <div>{{ clue.number ~ ". " ~ clue.clue }}</div>
          {% endif %}
      {% endfor %}
      {% for clue in cluesAcross %}
          {% if clue.finished %}
            <div style="text-decoration: line-through">{{ clue.number ~ ". " ~ clue.clue }}</div>
          {% endif %}
      {% endfor %}
    </div>

    <div class="colgut">
      <!-- the crossword image -->
      <div id="wrapper">
        {% for row in state.array %}
          {% for cell in row %}
            {% if cell.variety == "BLACK" %}
              <div class="filled"></div>
            {% elif cell.numbered %}
              {% if cell.variety == "WHITE_INCORRECT" %}
                <div class="empty numbered incorrect">
                  {% if cell.letter %}
                    <div class="letter">{{ cell.letter }}</div>
                  {% endif %}
                </div>
              {% else %}
                <div class="empty numbered">
                  {% if cell.letter %}
                    <div class="letter">{{ cell.letter }}</div>
                  {% endif %}
                </div>
              {% endif %}
            {% else %}
              {% if cell.variety == "WHITE_INCORRECT" %}
                <div class="empty incorrect">
                  {% if cell.letter %}
                    <div class="letter">{{ cell.letter }}</div>
                  {% endif %}
                </div>
              {% else %}
                <div class="empty">
                  {% if cell.letter %}
                    <div class="letter">{{ cell.letter }}</div>
                  {% endif %}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>

      <!-- form submission -->
      <form action="{{ url_for('command') }}" id="command" method="post">
        <div class="form-group">
          <b><label>Clue:</label></b>
          <input class="form-control" name="clue" id="clueText" placeholder="4 a"/>
        </div>

        <div class="form-group">
          <b><label>Letter position (optional):</label></b>
          <input class="form-control" name="position" placeholder="3"/>
        </div>

        <div class="form-group">
          <b><label>Solution:</label></b>
          <input class="form-control" name="solution" id="solutionText" placeholder="aria"/>
        </div>

        <div class="form-group">
          <input type="submit" name="command_type" value="Fill"></button>
          <input type="submit" name="command_type" value="Delete"></button>
          <input type="submit" name="command_type" value="Check"></button>
          <input type="submit" name="command_type" value="Uncheck"></button>
          <input type="submit" name="command_type" value="New Puzzle"></button>
        </div>
      </form>
    </div>

    <div id="down" class="colright">
      <h2>Down</h2>
      {% for clue in cluesDown %}
        {% if not clue.finished %}
          <div>{{ clue.number ~ ". " ~ clue.clue }}</div>
        {% endif %}
      {% endfor %}
      {% for clue in cluesDown %}
        {% if clue.finished %}
          <div style="text-decoration: line-through">{{ clue.number ~ ". " ~ clue.clue }}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <script>
    document.getElementById('wrapper').style.height = 30 * {{ state.height }} + "px";
    document.getElementById('wrapper').style.width = 30 * {{ state.width }} + "px";
    
    {% for row in range(0, state.width) %}
      {% for col in range(0, state.height) %}
        {% if state.array[row][col].variety != "BLACK" %}
          localStorage.setItem("v_" + {{ row }} + "_" + {{ col }} , {{ state.ver_clues[row][col] }} );
          localStorage.setItem("h_" + {{ row }} + "_" + {{ col }} , {{ state.hor_clues[row][col] }} );
        {% endif %}
      {% endfor %}
    {% endfor %}

    localStorage.setItem("lastname", "Smith");

    $(document).click(function(event) {      
      var clueObj = event.target;

      if ($(clueObj)["0"].className == "empty" || $(clueObj)["0"].className == "empty numbered" || $(clueObj)["0"].className == "letter") {
        x = Math.floor(($(clueObj).position().top - $(clueObj.parentNode).position().top) + 1 / 30)
        y = Math.floor(($(clueObj).position().left - $(clueObj.parentNode).position().left) + 1 / 30)
        x_order = localStorage.getItem("h_" + x + "_" + y)
        y_order = localStorage.getItem("v_" + x + "_" + y)
        console.log(x_order)
        console.log(y_order)
        acrossObj = document.getElementById('across').getElementsByTagName("div")[x_order]
        downObj   = document.getElementById('down').getElementsByTagName("div")[y_order]
        if ($("#clueText").val() == $(acrossObj).text().split(".")[0] + " " + acrossObj.parentNode.getElementsByTagName("h2")[0].innerHTML[0]) {
          clueObj = downObj
        } else {
          clueObj = acrossObj
        }
      } 
      var text = $(clueObj).text();
      var clueNumber = text.split(".")[0];
      var direction = clueObj.parentNode.getElementsByTagName("h2")[0].innerHTML;

      $("#clueText").val(clueNumber + " " + direction[0]);
      $("#clueText").css("color", "red");
      $("#solutionText").focus();
    });
  </script>
{% endblock %}